
<div class="container">
    <h2>Carritos de Compras</h2>
 
    <form action="/cartsadd" method="POST"> 
        <div>
            <label for="title">Nombre del Carrito:</label>
            <input type="text" name="title" id="title" required>
            <button type="submit">Crear Carrito</button>
        </div>
    </form>

    {{#if carts.length}}
        <ul>
            <h2>carritos guardados</h2>
            {{#each carts}}
                <li>
                    <h3>Titulo: {{title}}</h3>
                    <h3>ID: {{_id}}</h3>
                    <p>Creado: {{create}}</p>

                   
        

                  
                    <form action="/carts/deletecart" method="POST">
                        <input type="hidden" name="cartsId" value="{{_id}}">
                        <button type="submit">Eliminar Carrito</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay carritos disponibles.</p>
    {{/if}}
</div>