
<div class="container">
    <h2>Lista de Productos</h2>

    
    <form action="/products" method="GET">
        <div>
            <label for="query">Buscar por Nombre Producto o ID:</label>
            <input type="text" name="query" id="query" placeholder="Ingrese nombre o ID">
            <button type="submit">Buscar</button>
        </div>
    </form>

   
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <h3>{{title}}</h3>
                    <p>ID: {{_id}}</p>
                    <p>Precio: ${{price}}</p>
                    <p>Categoría: {{category}}</p>
                    <p>Stock: {{stock}}</p>

                    <!-- Botón de compra -->
                    <form action="../router/api/cartsRouter.js" method="POST">
                        <input type="hidden" name="productId" value="{{_id}}">
                        <button type="submit">Agregar al Carrito</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</div>