
<div class="container">
    <h2>Lista de Productos</h2>

     
    <form action="/products" method="GET">
        <div>
            <label for="query">Mostrar Todos los productos:</label>
            
            <button class="btn btn-primary">MOSTRAR</button>
        </div>
    </form>

    <form action="/products/search" method="GET">
        <div>
            <label for="query">Buscar por ID:</label>
            <input type="text" id="query" name="id" placeholder="Ingrese ID">
            <button type="submit">Buscar</button>
        </div>
    </form>

   
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <h3>{{title}}</h3>
                    <p>ID: {{_id}}</p>
                    <p>Precio: ${{price}}</p>
                    <p>Categoría: {{category}}</p>
                    <p>Stock: {{stock}}</p>

                   
                    <form action="/carts/delete" method="POST">
                        <input type="hidden" name="productId" value="{{_id}}">
                        <button type="submit">Borrar Producto</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}

    <h3>Agregar Producto al Carrito</h3>
    <form action="/carts" method="POST">
        <label for="productId">ID del Producto:</label>
        <input type="text" id="productId" name="productId" placeholder="Ingrese el ID del producto">
        <button type="submit">Agregar al Carrito</button>
    </form>
    <form action="/carts/data" method="POST">
        <div>
            <label for="query">Guardar Carrito:</label>
            
            <button class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>