
<div class="container">
    <h2>Lista de Productos</h2>

     
    <form action="/products" method="GET">
        <div>
            <label for="query">Mostrar Todos los productos:</label>
          

            <label for="limit">Limite de productos:</label>
            <input type="number" id="limit" name="limit" value="{{{limit}}}" min="1" max="10">
            

            <label for="page">pagina</label>
            <input type="number" id="page" name="page" value="{{{currentPage}}}" min="1" required>
            <button class="btn btn-primary">MOSTRAR</button> 

        </div>
    </form>

    <form action="/products/search" method="GET">
        <div>
            <label for="query">Buscar por ID:</label>
            <input type="text" id="query" name="id" placeholder="Ingrese ID">
            <button type="submit">Buscar</button>
            
        </div>
    </form>

   
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <h3>{{title}}</h3>
                    <p>ID: {{_id}}</p>
                    <p>Precio: ${{price}}</p>
                    <p>Categoría: {{category}}</p>
                    <p>Stock: {{stock}}</p>
                    <p>Foto: {{thumbnail}}</p>

                   
                    <form action="/carts/delete" method="POST">
                        <input type="hidden" name="productId" value="{{_id}}">
                        <button type="submit">Borrar Producto</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}

    <h3>Agregar Producto al Carrito</h3>
    <form action="/carts" method="POST">
        <label for="productId">ID del Producto:</label>
        <input type="text" id="productId" name="productId" placeholder="Ingrese el ID del producto">
        <button type="submit">Agregar al Carrito</button>
    </form>
    <form id="guardarCarritoForm" action="/carts/data" method="POST">
        <div>
            <label for="query">Guardar Carrito:</label>
            
            <button id="guardarCarritoBtn" class="btn btn-primary">Guardar</button>
        </div>
    
        
    </form>
        
        <div>

            <p>Pagina {{currentPage}} of {{totalPages}}</p>
            
            {{#if hasPrevPage }}
                <p><a href="/products?page={{prevPage}}"style="margin-right: 40px;">Anterior</a></p>
            {{/if}}    

            {{#if hasNextPage}}
                <p><a href="/products?page={{nextPage}}"style="margin-left: 40px;">Siguiente</a></p>
            {{/if}}
                
                
                
                <p>Total de paginas: {{totalPages}}</p>
                <p>Limit: {{limit}}</p>
                <p>pagina Anterior: {{prevPage}}</p>
                <p>pagina Siguiente: {{nextPage}}</p>
                
             
        
        </div>




</div>



<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("guardarCarritoForm");
        const button = document.getElementById("guardarCarritoBtn");

        button.addEventListener("click", function (event) {
          
            event.preventDefault();

           
            alert("Guardando el carrito...");

           
            form.submit();
        });
    });
</script>